<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power4j.oauth2.dao.OauthCodeDao">
    <resultMap id="oauthCode" type="com.power4j.oauth2.common.pojo.OauthCode">
        <result column="client_id" property="clientId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
        client_id,  code, openid, create_time
    </sql>
    <insert id="saveOauthCode" parameterType="com.power4j.oauth2.common.pojo.OauthCode">
        insert into oauth_code (client_id, code, openid, create_time)
        values (#{clientId}, #{code}, #{openid}, #{createTime})
    </insert>
    <select id="findOauthCode"  resultMap="oauthCode">
        SELECT
        <include refid="Base_Column_List"/>
        FROM oauth_code
        WHERE code = #{code} AND client_id = #{clientId}
    </select>
    <select id="findOauthCodeByUsernameClientId" resultMap="oauthCode">
        SELECT
        <include refid="Base_Column_List"/>
        FROM oauth_code
        WHERE openid = #{openid} AND client_id = #{clientId}
    </select>
    <delete id="deleteOauthCode">
        DELETE FROM oauth_code
        where  code = #{code} and client_id = #{clientId} and openid = #{openid}
    </delete>

</mapper>
