<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power4j.oauth2.dao.PermissionDao">
        <resultMap id="permission" type="com.power4j.oauth2.common.pojo.Permission">
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="uuid" property="uuid" jdbcType="VARCHAR" />
                <result column="name" property="name" jdbcType="VARCHAR"/>
                <result column="key" property="key" jdbcType="VARCHAR"/>
                <result column="parentUUID" property="parent_uuid" jdbcType="VARCHAR"/>
                <result column="order" property="order" jdbcType="INTEGER"/>
                <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        </resultMap>
        <sql id="Base_Column_List" >
                id, uuid,name,  key, parent_uuid, order, create_time
        </sql>
        <insert id="savePermission" parameterType="com.power4j.oauth2.common.pojo.Permission">
           insert into sys_permission (uuid, name, key, parentUUID, order, create_time)
           values (#{uuid}, #{name}, #{key}, #{parent_uuid}, #{order},  #{createTime})
        </insert>
        <select id="selectPermissionByRoleUUID"  resultMap="permission">
          SELECT
          p.id, p.uuid, p.name,  p.key, p.parent_uuid, p.order, p.create_time
          FROM sys_permission p right JOIN sys_role_permission rp on rp.permission_uuid = p.uuid
          WHERE rp.role_uuid = #{roleUUID}
        </select>
    <select id="selectPermissionKeyByRoleUUID"  resultType="STRING">
        SELECT p.key
          FROM sys_permission p right JOIN sys_role_permission rp on rp.permission_uuid = p.uuid
          WHERE rp.role_uuid = #{roleUUID}
    </select>
        <select id="selectByUuId" resultMap="role">
            SELECT
            <include refid="Base_Column_List"/>
            FROM sys_user
            WHERE uuid = #{uuid}
        </select>
    <update id="updateUserStatus">
        UPDATE sys_user SET status = #{status, typeHandler=com.power4j.oauth2.mybatis.handler.CommonStatusHandler}
        where uuid = #{uuid}
    </update>

    <insert id="insertUserRole">
        INSERT INTO sys_user_role (user_uuid, role_uuid) values (#{userUUID}, #{roleUUID})
    </insert>
    <delete id="deleteUserRole">
        DELETE FROM sys_user_role WHERE user_uuid = #{uuid}
    </delete>

</mapper>
