<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power4j.oauth2.dao.RoleDao">
        <resultMap id="role" type="com.power4j.oauth2.common.pojo.Role">
                <result column="id_" property="id" jdbcType="INTEGER" />
                <result column="uuid_" property="uuid" jdbcType="VARCHAR" />
                <result column="key_" property="key" jdbcType="VARCHAR"/>
                <result column="role_name_" property="roleName" jdbcType="VARCHAR"/>
                <result column="status_" property="status" typeHandler="com.power4j.oauth2.mybatis.handler.CommonStatusHandler" />
                <result column="create_time_" property="createTime" jdbcType="TIMESTAMP" />
        </resultMap>
        <sql id="Base_Column_List" >
                id_, uuid_, key_, role_name_, status_, create_time_
        </sql>
        <insert id="saveRole" parameterType="com.power4j.oauth2.common.pojo.Role">
           insert into sys_role (uuid_, key_, role_name_, status_,create_time_)
           values (#{uuid}, #{key}, #{roleName}, #{status, typeHandler=com.power4j.oauth2.mybatis.handler.CommonStatusHandler}, #{createTime})
        </insert>
        <select id="selectByUUID"  resultMap="role">
          SELECT
          <include refid="Base_Column_List"/>
          FROM sys_role
          WHERE uuid_ = #{uuid}
        </select>
        <select id="selectByUserUUID" resultMap="role">
                SELECT
               r.id_, r.uuid_, r.key_, r.role_name_, r.status_, r.create_time_
                FROM sys_role r right join sys_user_role ur on ur.role_uuid_ = r.uuid_
                WHERE ur.uuid_ = #{uuid}  AND r.status_ = <![CDATA[2]]>
        </select>
    <select id="selectAll" resultMap="role">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
    </select>
    <select id="selectAllEnabled" resultMap="role">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role where status_ =#{status, typeHandler=com.power4j.oauth2.mybatis.handler.CommonStatusHandler}
    </select>
    <select id="selectRoleUUIDByUserUUID" resultType="STRING">
        SELECT ur.role_uuid_
        FROM sys_user_role ur LEFT JOIN sys_role r ON r.uuid_ = ur.role_uuid_
        WHERE user_uuid_ = #{uuid} AND r.status_ = <![CDATA[3]]>
    </select>
        <delete id="delete">
            DELETE FROM sys_role
            where  uuid_ = #{uuid}
        </delete>

</mapper>
