<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power4j.oauth2.dao.ClientDetailsDao">

        <resultMap id="clientDetail" type="com.power4j.oauth2.common.pojo.ClientDetails">
                <result column="client_id" property="clientId" jdbcType="VARCHAR" />
            <result column="client_secret" property="clientSecret" jdbcType="VARCHAR" />
            <result column="client_name" property="name" jdbcType="VARCHAR" />
            <result column="client_uri" property="clientUri" jdbcType="VARCHAR" />
            <result column="client_icon_uri" property="iconUri" jdbcType="VARCHAR" />
                <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR" />
                <result column="scope" property="scope" jdbcType="VARCHAR" />
            <result column="grant_types" property="grantTypes" jdbcType="VARCHAR" />
            <result column="redirect_uri" property="redirectUri" jdbcType="VARCHAR" />
            <result column="roles" property="roles" jdbcType="VARCHAR" />
            <result column="access_token_validity" property="accessTokenValidity" jdbcType="INTEGER" />
            <result column="refresh_token_validity" property="refreshTokenValidity" jdbcType="INTEGER" />
            <result column="description" property="description" jdbcType="VARCHAR" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="status" property="status" typeHandler="com.power4j.oauth2.mybatis.handler.ClientStatusHandler" />
            <result column="trusted" property="trusted" jdbcType="TINYINT" />
        </resultMap>
        <sql id="Base_Column_List" >
                client_id, client_secret, client_name, client_uri, client_icon_uri, resource_ids, scope, grant_types, redirect_uri, roles, access_token_validity, refresh_token_validity, description, create_time, status, trusted
        </sql>
        <select id="findClientDetails" resultMap="clientDetail">
                select
                <include refid="Base_Column_List" />
                 from oauth_client_details where status = #{status,typeHandler=org.power4j.oauth2.mybatis.handler.ClientStatusHandler} and client_id = #{clientId}
        </select>
        <insert id="saveClientDetails" parameterType="com.power4j.oauth2.common.pojo.ClientDetails">
            insert into oauth_client_details(client_id,client_secret,client_name, client_uri,client_icon_uri,resource_ids, scope,grant_types, redirect_uri,roles,access_token_validity,refresh_token_validity,description,archived,trusted) values
            (#{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{clientUri,jdbcType=VARCHAR}, #{iconUri,jdbcType=VARCHAR}, #{resourceIds,jdbcType=VARCHAR},
      #{scope,jdbcType=VARCHAR}, #{grantTypes,jdbcType=VARCHAR}, #{redirectUri,jdbcType=VARCHAR},
      #{roles,jdbcType=VARCHAR}, #{accessTokenValidity,jdbcType=INTEGER}, #{refreshTokenValidity,jdbcType=INTEGER},
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,typeHandler=org.power4j.oauth2.mybatis.handler.ClientStatusHandler}, #{trusted}
      )
        </insert>

</mapper>
