<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power4j.oauth2.dao.OauthCodeDao">
        <resultMap id="oauthCode" type="com.power4j.oauth2.common.pojo.OauthCode">
                <result column="client_id" property="clientId" jdbcType="VARCHAR" />
                <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
                <result column="username" property="username" jdbcType="VARCHAR" />
                <result column="code" property="code" jdbcType="VARCHAR"/>
        </resultMap>
        <sql id="Base_Column_List" >
                client_id, client_secret, client_name, code
        </sql>
        <insert id="saveOauthCode" parameterType="com.power4j.oauth2.common.pojo.OauthCode">
           insert into oauth_code (client_id, client_secret, client_name, code)
           values (#{clientId}, #{clientSecret}, #{name}, #{code})
        </insert>
        <select id="findOauthCode"  resultMap="oauthCode">
          SELECT
          <include refid="Base_Column_List"/>
          FROM oauth_code
          WHERE code = #{code} AND client_id = #{clientId}
        </select>
        <select id="findOauthCodeByUsernameClientId" resultMap="oauthCode">
                SELECT
                <include refid="Base_Column_List"/>
                FROM oauth_code
                WHERE username = #{username} AND client_id = #{clientId}
        </select>
        <delete id="deleteOauthCode">
            DELETE FROM oauth_code
            where  code = #{oauthCode.code} and client_id = #{oauthCode.clientId} and username = #{oauthCode.username}
        </delete>

</mapper>
